@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index.scss';

body {
  padding-bottom: 2rem;
}

.jumbotron {
  border-radius: 0px;
}

@media (max-width: 767px) {
  .col-md-6:not(:last-child) {
    margin-bottom: 1rem;
  }
}
