@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index.scss';
@import 'nord/src/sass/nord.scss';

@import './quill.scss';

// https://www.nordtheme.com/docs/colors-and-palettes

body {
  padding-bottom: 2rem;
}

.jumbotron {
  border-radius: 0px;
}

@media (max-width: 767px) {
  .col-md-6:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.page-title {
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}
